---
layout: default
title: Homepage
---
<!-- Featured Products - F -->
<section class="grid grid-cols-5 gap">
    {% assign featuredProducts = site.ebooks | where_exp:"item", "item.featured == true" %}
    {% for item in featuredProducts %}
    <!-- cycle or ifelse  -->
    <div class="{% if forloop.index == 2 %}col-span-3{% endif %}">
        <img src="https://picsum.photos/id/237/600/400" alt="">
        <h3>Product name</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est incidunt et, mollitia molestiae tenetur deserunt illo magni quidem.</p>
        <a href="" class="button border p-2 inline-block">Shop</a>
    </div>
    {% endfor %}
</section>

<!-- Testimonials - F -->
<section>
    
</section>

<!-- Sneak Peak - F?  -->
<section>
    
</section>

<!-- Introduction - use banner  -->
<section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore maiores, sunt dolorum sed iste tempora, doloremque laudantium numquam facere itaque culpa blanditiis fugit deleniti, quasi quo corrupti odio voluptatem? Eveniet?</p>

</section>

<!-- FAQ - F -->
<section >
    <div>

    </div>
    
</section>

<!-- Images - F? -->
<section>
    
</section>

<!-- Pricing -->
<section class="grid gap-1 grid-cols-2 flex items-center">
    <img src="https://picsum.photos/id/1020/600/400" alt="" class="">
    <div class="">
        <h2>Product name</h2>
        <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repudiandae nesciunt nemo placeat totam maxime eligendi eaque laudantium molestiae quibusdam dolorem, voluptatibus cumque accusamus, rerum ut, expedita quaerat omnis at?</p>
        <a href="#" class="p-2 border-2 inline-block">Buy button</a>
    </div>
</section>

<!-- Related Products - F -->
<section>
    
</section>

<!-- Text (text flows from one column to two)-->
<section class="">
    <div class="md:columns-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur veniam laborum quae exercitationem culpa adipisci commodi officiis repellat, eum in ipsum quis, debitis dignissimos dolorum dolores magnam pariatur! Fuga, similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eveniet dolores reprehenderit, rem ullam suscipit, aliquam quisquam laboriosam non voluptate provident, iusto atque? At ex excepturi totam, adipisci necessitatibus ab! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eos quidem sequi distinctio vel id necessitatibus at modi, fuga quisquam tempora possimus asperiores ad dolorem dignissimos, inventore blanditiis delectus perspiciatis.</p>
    </div>
</section>

<!-- Text and Image - F? -->
<section>
    
</section>

<!-- Reviews - F -->
<section>

</section>

<!-- Before and After - F? -->
<section>
    
</section>

<!-- Gallery - F -->
<section>
    
</section>

<!-- Banner (want bg-img, text, and overlay changable) -->
<section style="background-image:url('https://picsum.photos/id/1025/600/400')" class="bg-cover h-[50vh] flex justify-center items-center">
    <h3 class="text-2xl">This is a banner heading</h3>
</section>