---
layout: default
images-grid: 
    - img: https://images.unsplash.com/photo-1581388847562-d5a56eec1cfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJsYWNrJTIwYW5kJTIwd2hpdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60
      img-alt-text: Alt Text
    - img: https://images.unsplash.com/photo-1609895314390-cb64c186466a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZWJvb2t8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60
      img-alt-text: Alt Text
    - img: https://images.unsplash.com/photo-1519885277449-12eee5564d68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG1hcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60
      img-alt-text: Alt Text
    - img: https://images.unsplash.com/photo-1446776899648-aa78eefe8ed0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG1hcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60
      img-alt-text: Alt Text
skippedTestimonials: 6
shopify-collection-id: 428507463968
video_url: https://www.youtube.com/embed/cLE09SmsUG0
---

<!-- ---------- Sneak Peak ----------- -->
<section>
    <h2 class="text-center text-4xl font-bold font-featured">Preset Sneak Peak</h2>
    <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus hic exercitationem sed sapiente harumem!</p> -->
        <div class="grid md:grid-cols-5 items-center">
            <div class="py-8 items-center md:col-span-3">
                <div class='ba-container'>
                    <div class='ba-img ba-background-img bg-cover'></div>
                    <div class='ba-img ba-foreground-img bg-cover'></div>
                    <input type="range" min="1" max="100" value="50" class="ba-slider" name='ba-slider' id="ba-slider">
                    <div class='ba-slider-button'></div>
                </div>
            </div>
            <div class="p-5p justify-left md:col-span-2">
                <div class="border-frame border-grey border-2 p-4">
                    <p class="italic text-xl pb-4">Latest Preset Release</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus quod ratione repellat est maxime vero veniam, nemo ducimus dolore voluptas facere necessitatibus quisquam officia? Error quas corporis autem sapiente.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ----------- Before and After Slider ----------- -->
<!-- <section>
    <div class='ba-container'>
        <div class='ba-img ba-background-img bg-cover'></div>
        <div class='ba-img ba-foreground-img bg-cover'></div>
        <input type="range" min="1" max="100" value="50" class="ba-slider" name='ba-slider' id="ba-slider">
        <div class='ba-slider-button'></div>
    </div>
</section> -->

<!-- ----------- ALL PRESETS ----------- -->
<section class="shop-section">
    <div id='collection-component-1669601358573'></div>
    {% include shopify.html %}
</section>

<!-- ----------- YOUTUBE EMBED ----------- -->
<section class="p-8 max-w-4xl mx-auto pb-6">
    <div class="p-6 w-full" style="padding: 56.25% 0 0 0; position:relative;">
        <iframe width="560" height="315" src="{{page.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
</section>


<!-- ----------- Testimonials ----------- -->
<section class="bg-gray-100 py-24">
    <div class="grid grid-cols-7 pb-6">
        <p class="col-span-1 text-7xl font-rich">&#10075;&#10075;</p>
        <h3 class="col-span-5 text-3xl blod text-center font-featured">Love from our clients</h3>
        <p class="col-span-1 text-right text-7xl font-rich">&#10076;&#10076;</p>
    </div>
    <div class="slider-container">
        {% for item in site.data.testimonials limit:3 %}
        <div class="text-center slider-item">
            <p class="text-center">{{item.testimonial}}</p>
            <p class="italic">~{{item.customer-name}}</p>
        </div>
        {% endfor %}
    </div>
</section>


<!-- ----------- FAQ ----------- -->
<section class="grid gap-2">
    <h3 class="text-center text-3xl font-bold mb-2 font-featured">FAQs</h3>
    {% assign typeFilter = site.data.faqs | where: 'type', 'preset' %}
    {% for item in typeFilter %}
    <div class="md:grid-cols-2 bg-zinc-300 py-3 px-4 rounded expand-button" data-target-button="{{forloop.index}}"> {{item.question}}
        
    </div>
    <!-- unless forloop makes first open on default -->
    <div class="expandable {% unless forloop.index == 1 %} hidden {% endunless %}" data-target-more="{{forloop.index}}">{{item.answer}}</div>
    {% endfor %}
</section>