---
layout: products-page-layout
---
<!-- ----------- Featured Product ----------- -->
<section class="grid gap-1 grid-cols-3 flex items-center">
    <img src="https://picsum.photos/600/400?random" alt="" class="">
    <div class="">
        <h2 class="font-featured">Product name</h2>
        <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repudiandae nesciunt nemo placeat totam maxime eligendi eaque laudantium molestiae quibusdam dolorem, voluptatibus cumque accusamus, rerum ut, expedita quaerat omnis at?</p>
        <a href="#" class="p-2 border-2 inline-block">Buy button</a>
    </div>
</section>

<!-- ----------- Popular Ebooks ----------- -->
<section class="text-center">
	<h4 class="text-3xl font-bold font-featured"> Popular Ebooks </h4>
	<div class="grid gap-8 md:gap-2 grid-cols-1 md:grid-cols-3 p-6">
        {% assign relevant = site.ebooks | where_exp:"book","book.url != page.url" %}
        {% for book in relevant limit:3 %}
        <a href="{{book.url}}">
            <div class="pb-2"> 
                <img src="{{book.img}}" class="object-cover w-full h-[50vh]"/>
            </div>
            <h3 class="uppercase"> {{book.product-name}} </h3>
            <span class="author uppercase">by {{book.author}}</span>
        </a>
        {% endfor %}
	</div>
</section>

<!-- ----------- Popular Presets ----------- -->
<section class="text-center">
	<h4 class="text-3xl font-bold font-featured"> Popular Presets </h4>
	<div class="grid gap-8 md:gap-2 grid-cols-1 md:grid-cols-3 p-6">
        {% assign relevant = site.presets | where_exp:"preset","preset.url != page.url" %}
        {% for preset in relevant limit:3 %}
        <div class="">
            <a class="flex justify-center" href="{{preset.url}}"> 
                <img src="{{preset.img}}" class="object-cover w-full md:w-9/12 h-[50vh]"/>
            </a>
            <a href="{{preset.url}}" class="inline-block uppercase m-2 mt-6 px-4 py-2 border-2 w-3/6 border-inherit hover:text-white hover:bg-zinc-400"> {{preset.product-name}} </a>
        </div>
        {% endfor %}
	</div>
</section>

<!-- ----------- Testimonials ----------- -->
<section class="bg-zinc-300 ">
    <div class="grid grid-cols-7 pb-6">
        <p class="col-span-1 text-7xl font-rich">&#10075;&#10075;</p>
        <h3 class="col-span-5 text-3xl blod text-center font-featured">Love from our clients</h3>
        <p class="col-span-1 text-right text-7xl font-rich">&#10076;&#10076;</p>
    </div>
    {% for item in site.data.testimonials %}
    <div class="text-center">
        <p class="text-center">{{item.testimonial}}</p>
        <p class="italic">~{{item.customer-name}}</p>
    </div>
    {% endfor %}
</section>

