---
layout: default
images-grid: 
    - img: https://images.unsplash.com/photo-1581388847562-d5a56eec1cfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJsYWNrJTIwYW5kJTIwd2hpdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60
      img-alt-text: Alt Text
    - img: /images/web-adrien-olichon-WVOh2Z6eGV0-unsplash.jpg
      img-alt-text: Alt Text
    - img: /images/web-ben-allan-4Lf0BL6f_5c-unsplash.jpg
      img-alt-text: Alt Text
    - img: /images/web-josh-rose-trYl7JYATH0-unsplash.jpg
      img-alt-text: Alt Text
skippedTestimonials: 0
---

<!-- Gallery -->
<section class="py-3">
    <div class="gird-cols-1 grid gap-2 min-h-[50vh] md:min-h-[80vh] md:grid-cols-4 py-10 mx-10">
        {% for item in site.ebooks limit:3 %}
        <a href="{{item.url}}" class="bg-blue-100 p-4 bg-cover bg-center relative inline-block h-[50vh] md:h-full {% cycle 'col-span-1', 'col-span-1 md:col-span-2 md:row-span-2', 'col-span-1', 'col-span-1' %}" style="background-image:url('{{item.img}}'); order:{{forloop.index}}">
            <div class="absolute inset-0 hover:bg-zinc-600/[.9] p-4 text-transparent flex justify-left items-center hover:text-white transition duration-500">
                <div>
                    <h2 class="text-3xl playfair">{{item.product-name}}</h2>
                </div>
            </div>
        </a>
        {% endfor %}
        {% for item in site.presets limit:2 %}
        <a href="{{item.url}}" class="bg-blue-100 p-4 bg-cover bg-center relative inline-block h-[50vh] md:h-full {% cycle 'col-span-1', 'col-span-1 md:col-span-2 md:row-span-2', 'col-span-1', 'col-span-1' %}" style="background-image:url('{{item.img}}'); order:{{forloop.index}}">
            <div class="absolute inset-0 hover:bg-zinc-600/[.9] p-4 text-transparent flex justify-left items-center hover:text-white transition duration-500">
                <div>
                    <h2 class="text-3xl playfair">{{item.product-name}}</h2>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

<!-- ----------- Popular Ebooks ----------- -->
<section class="text-center">
	<h4 class="text-3xl font-bold font-featured">Popular eBooks</h4>
	<div class="grid gap-8 md:gap-2 grid-cols-1 md:grid-cols-3 p-6">
        {% assign relevant = site.ebooks | where_exp:"book","book.url != page.url" %}
        {% for book in relevant limit:3 %}
        <div class="">
            <a class="relative flex justify-center" href="{{book.url}}"> 
                <img src="{{book.img}}" class="object-cover w-full md:w-9/12 h-[50vh]"/>
                <span class="absolute -right-7 md:right-5 bottom-0 inline-block uppercase m-2 mt-6 px-4 py-2 w-3/6 border-inherit bg-rich text-white hover:bg-gray-100 hover:text-rich transition"> {{book.product-name}} </span>
            </a>
        </div>
        {% endfor %}
	</div>
    <a href="/ebooks.html" class="inline-block uppercase m-2 mt-2 px-4 py-2 border-2 w-3/6 border-inherit hover:text-white hover:bg-gray-400">Shop All eBooks</a>
</section>

<!-- ----------- Popular Presets ----------- -->
<section class="text-center">
	<h4 class="text-3xl font-bold font-featured"> Popular Presets </h4>
	<div class="grid gap-8 md:gap-2 grid-cols-1 md:grid-cols-3 p-6">
        {% assign relevant = site.presets | where_exp:"preset","preset.url != page.url" %}
        {% for preset in relevant limit:3 %}
       <div class="">
            <a class="relative flex justify-center" href="{{preset.url}}"> 
                <img src="{{preset.img}}" class="object-cover w-full md:w-9/12 h-[70vh] md:h-[50vh]"/>
                <span class="absolute -right-7 md:right-5 bottom-0 inline-block uppercase m-2 mt-6 px-4 py-2 w-3/6 border-inherit hover:bg-rich hover:text-white bg-gray-100 text-rich transition"> {{preset.product-name}} </span>
            </a>
        </div>
        {% endfor %}
	</div>
    <a href="/presets.html" class="inline-block uppercase m-2 mt-2 px-4 py-2 border-2 w-3/6 border-inherit hover:text-white hover:bg-gray-200">Shop All Presets</a>
</section>

<!-- ----------- Testimonials ----------- -->
{% include testimonials.html %}

<!-- ----------- IG - Feed ----------- -->
<section class="grid grid-cols-2 md:grid-cols-4 gap-2 relative px-16 py-10">
    {% for item in page.images-grid %}
    <img src="{{item.img}}" alt="{{item.img-alt-text}}" class="object-cover w-full h-[30vh] md:h-[50vh]">
    {% endfor %}
    <a href="#" class="absolute -rotate-90 font-featured text-3xl -left-5 md:text-5xl md:-left-16 top-52 hover:font-bold transition">@ighandle</a>
</section>

