<hr/>
<section class="text-center">
    <nav class="flex justify-center items-center">
        <div>
            <a href="/product-collections.html" class="border-b border-1 hover:font-medium">Products</a>
            <a href="https://onyxpointe1111.memberspace.com/member/plans/0acf43641p" class="border-b border-1 hover:font-medium">Sign Up</a>
        </div>
        <a href="/index.html" class="px-4 hidden md:inline-block"><p class="logo">Logo</p></a>
        <div>
            <a href="/ebooks-layout.html" class="border-b border-1 hover:font-medium">Ebooks</a>
            <a href="/presets-layout.html" class="border-b border-1 hover:font-medium">Presets</a>
        </div>
    </nav>
    <p class="py-6 w-full items-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corrupti praesentium itaque ad possimus iure, earum minima officia nihil saepe suscipit nostrum fugit hic ipsum fuga! Exercitationem ut pariatur inventore?</p>
    {% include social-sharing.html %}
</section>