<header class="sticky-header min-h-[5rem]">
    <div class="grid md:grid-cols-6 bg-white p-4 sans w-full items-center justify-center md:justify-left sticky-nav z-10 transition-all transition-duration-1000 border-b border-1">
        <a href="/product-collection.html" class="col-span-1 logo text-center mb-2 md:mb-0">Logo</a>
        <nav class="uppercase justify-center md:justify-end flex font-semibold md:col-span-5 font-featured">
            <a class="mx-2 hover:border-b-2 hover:border-rich" href="/product-collection.html">Products</a>
            <a class="mx-2 hover:border-b-2 hover:border-rich" href="/ebooks.html">Ebooks</a>
            <a class="mx-2 hover:border-b-2 hover:border-rich" href="/presets.html">Presets</a>
        </nav>
        <div class="text-right">
            <a href="#" class="hamburger-button sm-show">&#9776;</a>
        </div>
    </div>
    <!-- <div id="dark-btn">
        <span></span>
    </div> -->
</header>
