<header style="background-image:url('https://images.unsplash.com/photo-1473984951266-787b955c9e0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')" class="bg-cover h-[70vh] bg-center bg-slate-100">
    <div class="grid grid-cols-6 p-4 sans items-center">
        <p class="col-span-1 logo">Logo</p>
        <nav class="uppercase justify-end flex font-semibold col-span-5 font-featured">
            <a class="mx-2" href="/index.html">Home</a>
            <a class="mx-2" href="/product-collection.html">Products</a>
            <a class="mx-2" href="/ebooks.html">Ebooks</a>
            <a class="mx-2" href="/presets.html">Presets</a>
        </nav>
    </div>
    <div class="col-span-6 p-10 flex items-center text-center">
        <div>
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto in deserunt cum excepturi rerum porro dolorum consequuntur fugit, ipsam est qui molestiae tempora earum temporibus, soluta officia facilis, quisquam placeat.</p>
        </div>
    </div>
</header>