<section class="bg-gray-100 py-24">
    <div class="grid grid-cols-7 pb-6">
        <p class="col-span-1 text-7xl font-rich">&#10075;&#10075;</p>
        <h3 class="col-span-5 text-3xl blod text-center font-featured">Love from our clients</h3>
        <p class="col-span-1 text-right text-7xl font-rich">&#10076;&#10076;</p>
    </div>
    <div class="slider-container">
        <!-- sets var that equals frontmatter var -->
        {% for item in site.data.testimonials limit:3 offset: page.skippedTestimonials %}
        <div class="text-center slider-item">
            <p class="text-center">{{item.testimonial}}</p>
            <p class="italic">~{{item.customer-name}}</p>
        </div>
        {% endfor %}
    </div>
</section>