<!DOCTYPE html>
<html lang="en">
    
    {% include head.html %}

<body>
    {% include header.html %}
    {{content}}
    {% include footer.html %}
    <!-- jQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Slider -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- My own JS  -->
    <script src="/main.js"></script>
    <!-- <script>
        var MemberSpace = window.MemberSpace || {"subdomain":"onyxpointe1111"};
        (function(d){
        var s = d.createElement("script");
        s.src = "https://cdn.memberspace.com/scripts/widgets.js";
        var e = d.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(s,e);
        }(document));
    </script> -->
</body>

</html>